<div id="sidebar">
    <ul class="sidebar-list" id="menu">
        <li class="list" id="mobile-pic">
            <div style="margin-right:10px">
                <center>
                    <i style="font-size:40px;margin-top:10px;color:white" id="mobile-img" class="fa fa-user"></i>
                </center>
            </div>
        </li>
        <li class="list" id="bars">
        <a onclick="openbar()" id="open">
            <span class="list-span">
                <i class="fas fa-bars" id="icon"></i>
            </span>
                Social Hub
        </a>
        </li>

        <li class="list active">
            <a id="home">
                <span class="list-span">
                    <i class="fas fa-home" id="icon"></i>
                </span>
                Home
            </a>
        </li>




        <li class="list">
            <a id="add">
                <span class="list-span">
                    <i class="fas fa-plus-square" id="icon"></i>
                </span>
                Add User
            </a>
        </li>




        <li class="list">
            <a id="userslist">
                <span class="list-span">
                    <i class="fas fa-list" id="icon"></i>
                </span>
                Users List
            </a>
        </li>




        <li class="list">
            <a id="community">
                <span class="list-span">
                    <i class ="	fas fa-list-alt" id="icon"></i>
                </span>
                Community List
            </a>
        </li>

        <li class="list">
            <a id="switch">
                <span class="list-span">
                    <i class="fas fa-toggle-off" id="icon"></i>
                </span>
                Switch As User
            </a>
        </li>



        <li class="list">
            <a id="tagpanel">
                <span class="list-span">
                    <i class="fas fa-tags" id="icon"></i>
                </span>
                Tag Panel
            </a>
        </li>

        <li class="list">
            <a id="change">
                <span class="list-span">
                    <i class="fas fa-lock" id="icon"></i>
                </span>
                Change Password
            </a>
        </li>



        <li class="list">
            <a id="logout">
                <span class="list-span">
                    <i class="fas fa-sign-out-alt" id="icon"></i>
                </span>
                Logout
            </a>
        </li>




    </ul>
</div>









