<div class="content-div">
  <div class="container div-min-width" id="cont">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8" style="background-color:#fff;border:5px solid rgba(0,0,0,0.1);margin-top:10px">
      <br>
      <h1>Add User</h1>
      <!-- <form class="form-horizontal" autocomplete="no" enctype="application/x-www-form-urlencoded" role="form"> -->
        <div class="col-sm-12">
          <div class="form-group">
            <input type="text" name="fullname" class="form-control" id="name" placeholder="Name" required><br>
          </div>

          <div class="form-group">
            <input type="email" name="username" class="form-control" id="email" placeholder="Email" autocorrect="off"
              required><br>
          </div>
          <div class="form-group">
            <input id="userpassword" type="password" name="password" class="form-control" placeholder="User Password"
              autocorrect="off" required><br>
          </div>

          <div class="form-group">
            <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone" minlength="10"
              maxlength="10" pattern="^[789]\d{9}$" required><br>
          </div>
          <div class="form-group">
            <input id="city" type="text" name="city" class="form-control" placeholder="City" required><br>
          </div>
          <div class="form-group">
            <select id="gender" data-style="btn-info" name="gender" class="form-control" required>
              <optgroup label="Select Gender">
                <option>Male</option>
                <option>Female</option>
              </optgroup>
            </select>
          </div>

          <div class="form-group">
            <input id="dob" type="date" name="dob" class="form-control" placeholder="DOB" required><br>
          </div>

          <div class="form-group">
            <label>Role:</label><br>
            <select id="userrole" data-style="btn-info" name="roleoptions" class="form-control">
              <optgroup label="Select User Role">
                <option>User</option>
                <option>Community_Builder</option>
                <option>Admin</option>
              </optgroup>
            </select>
          </div>
          <div class="form-group">
            <input id="addbtn1" type="submit" value="Add User" class="btn btn-success">
            <a id="cancel" value="Add User" class="btn btn-danger">Cancel</a>
          </div>
        </div>
      <!-- </form> -->
    </div>
  </div>
</div>

<script type="text/javascript">
  var list = sidebar.getElementsByTagName("li");
  for (var i = 0; i < list.length; i++) {
    list[i].classList.remove("active");
  }
  list[3].classList.add("active");
</script>

<script>
  
   var add1 = document.getElementById("addbtn1");
    var cancel = document.getElementById("cancel");
    var name1 = document.getElementById("name");
    var email = document.getElementById("email");
    var userpassword = document.getElementById("userpassword");
    var phone = document.getElementById("phone");
    var city = document.getElementById("city");
    var gender = document.getElementById("gender");
    var dob = document.getElementById("dob");
    var role = document.getElementById("userrole");
    cancel.addEventListener('click', function (event) {
      window.location = '/admin/add'
    })

    add1.addEventListener("click", function (event) {
      if(validateForm()){
        var ob = new Object();
        ob.name = name1.value;
        ob.email = email.value;
        ob.password = userpassword.value;
        ob.city = city.value;
        ob.dob = dob.value;
        ob.phone = phone.value;
        ob.gender = gender.value;
        ob.role = role.value;
        // ob.status="Pending";
        // ob.restrict="1";
        // ob.first="true";
        // ob.image_name="default.png";   

        fetch('/admin/add', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(ob)
        })
          .then(response => response.json())
          .then(data => {
            if (data == "1") {
              alert("User Added");
              var objj=new Object();
              objj.email=ob.email;
              objj.subject=ob.name+", Welcome to Social Hub!!"
              objj.text="You are registered to Social Hub account as "+ob.role+"<br> by "+"<%=user.name %>"+" <br>and your password is "+ob.password+" <br>Kindly change your password as soon as possible <br> Thank You!!";
              fetch('/admin/mail', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(objj)
              })
                .then(response => response.json())
                .then(data => {
                  console.log("Registered User-> Mail Sent")
                })
                .catch((error)=>{
                  console.log(error);
                })
            


              window.location = "/admin/add"
            }
            else if (data == "0") {
              alert("User Already Present")
              email.value="";
              userpassword.value="";
            }else{
                alert("****************Unable to add user kindly contact admin")
            }
          })
          .catch(error => {
            console.log(error);
            alert("Unable to add user kindly contact admin****")
          });
      }
    });

    function validateForm(){
      if(phone.value.length!=10){
        alert("Invalid Phone Number")
        return false;
      }
      if(name1.value == "" || email.value == "" || userpassword.value == "" || phone.value == "" ||city.value == "" 
      || gender.value == "" || dob.value==""){
        alert("Fill All the values");
        return false;
      }
      return true;
    }
</script>