<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<!-- <script src="trumbowyg.min.js"></script> -->

<style>
    .active {
        background-color: #51a1e2 !important;
    }

    .div-min-width {
        min-width: 360px;
    }

    #userlist-icon {
        border: 2px solid #2D312C;
        background-color: #2D312C;
        color: #fff;
        width: 90px;
        font-weight: bold;
        box-shadow: 0px 0px 10px grey;
    }
    /* admin,user,cb */
    #rolebtn { 
        width: 70px;
        border: 2px solid #2D312C;
        background-color: #2D312C;
        color: #fff;
    }
    /* all pending confirmed */
    #statusbtn {
        width: 70px;
        border: 2px solid #2D312C;
        background-color: #2D312C;
        color: #fff;
    }

    #main-table {
        border-bottom: 1px solid #111;
        clear: both;
        margin-top: 6px !important;
        margin-bottom: 6px !important;
        max-width: none !important;
        border-collapse: separate !important;
        box-sizing: content-box;
    }

    .action-btn {
        margin: 5px;
    }

    #email-btn {
        background-color: rgb(0, 0, 0);
    }
    .table-responsive {
        overflow: hidden;
    }

    #containerid {
        margin-left: 50px;
    }

    @media (max-width:768px) {
        #rolebtn {
            width: 14%;
        }

        #statusbtn {
            width: 10%;
        }

        #containerid {
            margin-left: 0;
        }

        .table-responsive {
            overflow: auto;
        }
    }
</style>
<div class="container-fluid div-min-width" id="containerid" style="padding:0">
    <div class="row">
        <div class="col-lg-12" style="padding:0">
            <div style="margin-left:20px;margin-right:20px;margin-top:1%">
                <!-- MODAL DIVS -->
                <!-- Deactivate users modal -->
                <center>
                    <div id="restrict" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-sm" style="position:relative;top:35%!important;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 id="headcontent" class="modal-title"></h4>
                                </div>
                                <div class="modal-body">
                                    <p id="paracontent"> </p>
                                </div>
                                <div class="modal-footer">
                                    <button id="yesrestrict" type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </center>
                <!-- UPDATE MODAL -->
                <center>
                    <div id="editModal" class="modal fade" role="dialog" style="z-index:9999;">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h3 id="eheading" class="modal-title"></h3>
                                </div>

                                <div class="modal-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-lg-5 col-lg-offset-3" style="width:50%;">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Username:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="eusername"
                                                    placeholder="Username" disabled>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Phone:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="ephone" placeholder="Phone">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-2">City:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="ecity" placeholder="City">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Status:</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" id="estatus">
                                                    <option value="pending">Pending</option>
                                                    <option value="confirmed">Confirmed</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Role:</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" id="erole">
                                                    <option value="user">User</option>
                                                    <option value="Community_Builder">Community_Builder</option>
                                                    <option value="admin">Admin</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-10 col-sm-offset-2 pull-left">
                                                <button class="btn btn-default" id="eupdate"
                                                    data-dismiss="modal">Update</button>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </center>
                <center>
                    <!-- EMAIL MODAL -->
                    <div class="modal fade" tabindex="-1" role="dialog" id="emailModal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="margin-top:20px;">
                                    <h5 class="modal-title" style="float:left;font-size:20px">Send Reminder
                                        Mail</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label"><b>To: </b></label>
                                            <div class="col-sm-10">
                                                <input type="text" readonly class="form-control" id="sendTo">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label"><b>Subject: </b></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="(This mail is from social hub)"
                                                id="emailSubject">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <textarea style="resize: none;" cols="30" rows="10" class="form-control"
                                                    id="textarea"></textarea>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" id="sendMail"
                                        data-dismiss="modal">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </center>
                <div class="form-control" id="userlist-icon" style="float:left;">User list
                </div>
                <select class="form-control" id="rolebtn" style="float:right;margin-left:10px;width:15%">
                    <optgroup label="Role">
                        <option>All</option>
                        <option>Admin</option>
                        <option>User</option>
                        <option>Community_Builder</option>
                    </optgroup>
                </select>
                <select class="form-control" id="statusbtn" style="float:right;margin-left:10px;width:10%">
                    <optgroup label="Status">
                        <option value="All">All</option>
                        <option value="Pending">Pending</option>
                        <option value="Confirmed">Confirmed</option>
                    </optgroup>
                </select>

                <button id="refresh" class="btn btn-default" style="float:right;background-color: #2D312C;color: #fff;">
                    <span><i class="glyphicon glyphicon-refresh"></i>
                    </span>
                    Refresh
                </button>
                <br>
                <br>
                <br>
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="users-table" class="table table-striped table-bordered"
                                style="display:table;width:100%">
                                <thead>

                                    <th>Username/Email</th>
                                    <th>Phone</th>
                                    <th>City</th>
                                    <th>Status</th>
                                    <th>Role</th>
                                    <th>Actions</th>

                                </thead>

                                <tbody id="table-body">


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
        var list = sidebar.getElementsByTagName("li");
        for (var i = 0; i < list.length; i++) {
            list[i].classList.remove("active");

        }
        list[4].classList.add("active");
        

        $(document).ready(function () {
            let table = $('#users-table').DataTable({
                "lengthMenu": [5, 25, 50, 100],
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/admin/users",
                    "type": "POST",
                    "data": function (d) {
                        d.role = $('#rolebtn').val();
                        d.status = $('#statusbtn').val();
                        // d.me="heyy"
                        // console.log(d)
                    },
                },
                // line wise
                "columns": [{
                    "data": "email"
                },
                {
                    "data": "phone"
                },
                {
                    "data": "city"
                },
                {
                    "data": "status"
                },
                {
                    "data": "role"
                },
                {
                    "data": null
                },
                ],
                // in 5th col
                "columnDefs": [{
                    "targets": 5,
                    // jitna data mngwana h acc to limit n skip ye fnc utni br chle ga
                    "render": function (data, type, row, meta) {
                        // row (or data) mei puri row data base se aaye gi 
                        // { role: "admin", image_name: "default.png", status: "pending", _id: "5fe3539031094245b08d7535", email: "admin@admin.com", … }
                        // city: "sunam"
                        // dob: "2020-12-31"
                        // email: "admin@admin.com"
                        // gender: "Male"
                        // image_name: "default.png"
                        // name: "admin saab ji"
                        // password: "admin"
                        // phone: "9999999999"
                        // role: "admin"
                        // status: "pending"
                        // __v: 29
                        // _id: "5fe3539031094245b08d7535"
                        var r = row.role;

                        console.log("***",row.role);

                        if (row.role !="admin") {
                            data =
                            // mail user fuc chle ga on click // update user
                                '<center><a class="btn btn-primary btn-sm emailbtn actionbtns" data-toggle="modal" data-target="#emailModal" onclick=mailUser("' +
                                row._id + '","' + row.email +
                                '") style="background:#000;margin-right:5px;"><span class="fa fa-envelope" style="color:#fff"></span></a><a onclick=updateUser("' +
                                row._id + '","' + row.email + '","' + row.phone + '","'+row.city + '","'+row.status+'","' + row.role +
                                '") class="btn btn-primary btn-sm actionbtns" style="margin-right:5px;" data-toggle="modal" data-target="#editModal" ><span class="fa fa-edit"></span></a>';
                            if (row.restrict === "0")
                                data = data +
                                    '<a class="btn btn-warning btn-sm activebtn actionbtns" data-toggle="modal" data-target="#restrict" onclick=changestate("' +
                                    row._id + '","' + row.email + '","' + row.restrict +
                                    '") ><span class="fa fa-times-circle"></span></a></center>';
                            else
                                data = data +
                                    '<a class="btn btn-success btn-sm activebtn actionbtns" data-toggle="modal" data-target="#restrict" onclick=changestate("' +
                                    row._id + '","' + row.email + '","' + row.restrict +
                                    '") ><span class="fa fa-check-circle"></span></a></center>';
                            return data;
                        } else {
                            data =
                                // '<center><a class="btn btn-primary btn-sm emailbtn actionbtns" data-toggle="modal" data-target="#sendmail" style="background:#000"><span class="fa fa-envelope" style="color:#fff"></span></a><center>';
                                '<center><a class="btn btn-primary btn-sm emailbtn actionbtns" data-toggle="modal" data-target="#emailModal" onclick=mailUser("' +
                                row._id + '","' + row.email +
                                '") style="background:#000;margin-right:5px;"><span class="fa fa-envelope" style="color:#fff"></span></a></center>'
                                return data;
                        }
                    }
                }],
            })

            $('#refresh').on('click', function () {
                table.ajax.reload(null, false);
            });
            $('#rolebtn').on('click', function () {
                table.ajax.reload(null, false);
            });
            $('#statusbtn').on('click', function () {
                table.ajax.reload(null, false);
            });
        })

        setInterval(function () {
            if (($("#emailModal").hasClass("in")) == false) {

                $("#emailSubject").val('');
                $(".trumbowyg-editor").html('');
            }
        }, 2000)


        // send mail through modal function
        function mailUser(_id, username) {
            alert(username)
            $('#sendTo').val(username);
            $('#sendMail').click(function () {
                var obj = {
                    _id: _id,
                    email: username,
                    subject: $("#emailSubject").val(),
                    text: $("#textarea").val()
                }
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/admin/mail");
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(JSON.stringify(obj));
                xhr.onload = function () {
                    if (xhr.responseText == '1') {
                        alert("Mail send");
                    } else {
                        alert("Mail not send");

                    }
                }

            })

        }
        // $.trumbowyg.svgPath = "trumbowyg.svg"
        // $("#textarea").trumbowyg();

        function updateUser(_id, username, phone, city, status, role) {
            // console.log(_id);
            // console.log(status,"**");


            $('#eheading').html("Update " + username);
            $('#eusername').val(username);
            $('#ephone').val(phone);
            $('#ecity').val(city);
            $('#estatus').val(status);
            $('#erole').val(role);
            $('#eupdate').click(function () {
                var obj = {
                    _id: _id,
                    email: $("#eusername").val(),
                    phone: $("#ephone").val(),
                    city: $("#ecity").val(),
                    status: $("#estatus").val(),
                    role: $("#erole").val()
                }
                if(obj.city == "" || obj.phone == "" || obj.email == "" || obj.status == "" || obj.role == ""){
                    alert("All feilds are mandatory")
                }else{
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/admin/updateuserlist");
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.send(JSON.stringify(obj));
                    xhr.onload = function () {
                        if (xhr.responseText == '1')
                            alert("User updated");
                        window.location = "/admin/userlist";
                    }
                }
            })
        }

        function changestate(_id, username, state) {
            var obj;
            if (state == "0") {
                $('#headcontent').html("Deactivate User?")
                $('#paracontent').html("Are you sure you want to Deactivate " + username)
                obj = {
                    _id: _id,
                    restrict: "1",
                }
            } else {
                $('#headcontent').html("Activate User?")
                $('#paracontent').html("Are you sure you want to Activate " + username)
                obj = {
                    _id: _id,
                    restrict: "0",
                }
            }

            $('#yesrestrict').click(function () {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/admin/restrict");
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(JSON.stringify(obj));
                xhr.onload = function () {
                    if (xhr.responseText == '1')
                        alert("User Activated");
                    else
                        alert("User Deactivated");
                    window.location = "/admin/userlist";
                }
            })
        }
</script>